.filtersComponent {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.deg-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.bit-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.col-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.color-filter {
  width: 60%;
}

.alc-filter {
  width: 60%;
}

.bitter-filter {
  width: 60%;
}

.select-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.select {
  display: flex;
  gap: 30px;
  margin: 1rem 0 1rem 0;
  width: auto;
  z-index: 2;
  align-items: center;
}

.select button {
  border-radius: 10px;
  width: 8rem;
}

.favorite-button {
  z-index: 3;
  cursor: pointer;
}

/* ==========================media mobile=====================================*/

@media (min-width: 320px) and (max-width: 600px) {
  .filtersComponent {
    min-width: 320px;
  }

  .deg-container {
    min-width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bit-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .col-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .color-filter {
    width: 100%;
  }

  .alc-filter {
    width: 100%;
  }

  .bitter-filter {
    width: 100%;
  }

  .select {
    display: flex;
    justify-content: center;
    margin: 1rem 0 1rem 0;
    width: 50%;
  }

  .select button {
    border-radius: 10px;
    padding: 10px;
    width: auto;
  }
}
