.filtersComponent {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.deg-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.bit-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.col-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.color-filter {
  width: 60%;
}

.alc-filter {
  width: 60%;
}

.bitter-filter {
  width: 60%;
}

.select {
  display: flex;
  gap: 30px;
  margin: 1rem 0 1rem 0;
  width: auto;
  z-index: 2;
  align-items: center;
}

.select button {
  border-radius: 10px;
  width: 8rem;
}

.popupButton {
  background-color: var(--background-color-light);
  color: var(--accent-color-2);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-family: var(--font-text-family);
  display: flex;
}

.popupButton,
span {
  vertical-align: bottom;
  text-align: center;
  align-items: center;
  justify-content: center;
}


.heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}