.filtersComponent {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.color-filter {
  width: 70%;
}

.alc-filter {
  width: 70%;
}

.bitter-filter {
  width: 70%;
}


.select {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
  width: 30%;
}

.select button {
  border-radius: 10%;
  width: 5rem;
}

.heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}