:root {
  --background-color-light: #fff8e3;
  --background-color-dark: #ffebaf;
  --accent-color-1: #ff7e7c;
  --accent-color-2: #f29f05;
  --secondary-color-1: #bf5b04;
  --secondary-color-2: #8c4820;
  --secondary-color-3: #592c1c;
  --secondary-color-4: #27140c;
  --shadow-card: 4px 4px 20px rgba(242, 159, 5, 0.25);
  --shadow-button: 4px 4px 20px rgba(191, 91, 4, 0.25);
  --font-title-family: "Anton", sans-serif;
  --font-text-family: "Cabin", sans-serif;
  --font-text-weight-bold: 700;
  --font-text-weight-regular: 400;
}

.beerCardSmall {
  background-color: white;
  display: inline-block;
  width: 280px;
  height: 380px;
  padding: 30px;
  margin: 0 20px 60px 20px;
  z-index: 1;
  box-shadow: var(--shadow-card);
  border-radius: 10px;
  transition: scale 1s ease-in-out;
}

.beerCardSmall:hover {
  scale: 1.1;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardContainer,
h4 {
  text-align: center;
}

.cardContainer,
.heartCard {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.imgIcon {
  width: auto;
  width: 210px;
  height: 200px;
  border-radius: 10px;
}

.beerCardDetails {
  background-color: rgb(179, 208, 132);
  padding: 40px;
  margin: 0 60px;
  display: block;
  flex-direction: column;
  position: absolute;
  z-index: 5;
  height: 400px;
  width: 800px;
  border-radius: 20px;
}

.title {
  background-color: rgb(170, 255, 84);
  display: flex;
  padding: 20px;
  margin: 0px;
}

.imgAndText {
  display: flex;
  justify-content: space-between;
  /* gap: 40px; */
}

.imgAndTagLine {
  background-color: rgb(158, 192, 255);
}

.beerCardDetails .img {
  background-color: darkolivegreen;
  width: 250px;
  height: 250px;
}

.blockText {
  background-color: rgb(255, 134, 134);
  display: block;

  flex-direction: column;
  width: 100%;
  height: auto;
}

.blockText p {
  text-align: left;
}

.btn {
  display: inline-block;
  flex-direction: row;
}

.dateAndAlc {
  display: flex;
  gap: 20px;
}

.date,
.alc {
  background-color: #fff;
  display: inline-block;
  padding: 0 10px 5px 10px;
  margin: 0;
  border-radius: 20px;
}

.brewColor {
  background-color: brown;
  width: 50px;
  height: 10px;
}

.brewDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h5 {
  display: inline-block;
  margin: 0;
  text-align: left;
}

.brewColor {
  display: inline-block;
}
