.beerCardSmall {
  background-color: cadetblue;
  display: inline-block;
  padding: 20px;
  margin: 60px 0;
  z-index: 1;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition: scale 1s ease-in-out;
}

.beerCardSmall:hover {
  scale: 1.1;
}

.imgIcon {
  width: auto;
  height: 200px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

.beerCardDetails {
  background-color: rgb(179, 208, 132);
  padding: 40px;
  margin: 0 60px;
  display: block;
  flex-direction: column;
  position: absolute;
  z-index: 5;
  height: 400px;
  width: 800px;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

.title {
  background-color: rgb(170, 255, 84);
  display: flex;
  padding: 20px;
  margin: 0px;
}

.imgAndText {
  display: flex;
  justify-content: space-between;
  /* gap: 40px; */
}

.imgAndTagLine {
  background-color: rgb(158, 192, 255);
}

.beerCardDetails .img {
  background-color: darkolivegreen;
  width: 250px;
  height: 250px;
}

.blockText {
  background-color: rgb(255, 134, 134);
  display: block;

  flex-direction: column;
  width: 100%;
  height: auto;
}

.blockText p {
  text-align: left;
}

.btn {
  display: inline-block;
  flex-direction: row;
}

.dateAndAlc {
  display: flex;
  gap: 20px;
}

.date,
.alc {
  background-color: #fff;
  display: inline-block;
  padding: 0 10px 5px 10px;
  margin: 0;
  border-radius: 20px;
}

.brewColor {
  background-color: brown;
  width: 50px;
  height: 10px;
}

.brewDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h5 {
  display: inline-block;
  margin: 0;
  text-align: left;
}

.brewColor {
  display: inline-block;
}
