:root {
  --background-color-light: #fff8e3;
  --background-color-dark: #ffebaf;
  --accent-color-1: #ff7e7c;
  --accent-color-2: #f29f05;
  --secondary-color-1: #bf5b04;
  --secondary-color-2: #8c4820;
  --secondary-color-3: #592c1c;
  --secondary-color-4: #27140c;
  --shadow-card: 4px 4px 20px rgba(242, 159, 5, 0.25);
  --shadow-button: 4px 4px 20px rgba(191, 91, 4, 0.25);
  --font-title-family: "Anton", sans-serif;
  --font-text-family: "Cabin", sans-serif;
  --font-text-weight-bold: 700;
  --font-text-weight-regular: 400;
}

body {
  box-sizing: border-box;
}

.header {
  background-color: var(--background-color-dark);
}

.main {
  background-color: var(--background-color-dark);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main img {
  margin-top: -5rem;
  align-self: flex-end;
  margin-right: 3rem;
}

main,
h3 {
  color: var(--accent-color-2);
}

.beerDisplay {
  display: flex;
  align-content: center;
  flex-direction: column;
  background-color: rgb(243, 243, 198);
  height: 60vh;
  padding: 3rem 3rem 0 3rem;
}

#illustration {
  display: flex;
  justify-content: flex-end;
}

.beerCardList {
  background-color: lightblue;
  height: auto;
  border: 1px solid;
  width: 100%;
  margin: 0 auto 15px auto;
}

.footer {
  background-color: rgb(255, 205, 213);
}